# Managing Imports

In [ ]:
# proper import example 1
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
# example 2
from datetime import datetime
import seaborn as sns

In [ ]:
# Bad import example 1
from math, random import sqrt, randit

In [ ]:
# example 2
import matplotlip, scipy

# Managing indentations

In [ ]:
# example 1
def calculate_area(shape, dimensions):
    if shape == 'circle':
        radius = dimensions[0]
        return 3.14 * radius**2
    elif shape == 'square':
        side = dimensions[0]
        return side * side
    else:
        return "shape not recognised"

In [ ]:
calculate_area('circle', [8])

In [ ]:
calculate_area('square', [6])

In [ ]:
calculate_area('triangle', [8])

In [ ]:
def calculate_volume(length, width, height):
    if length > 0 and width > 0 and height > 0:
        volume = length * width * height
        return volume
    else:
        return 'invalid dimension'

In [ ]:
calculate_volume(5,3,7)

In [ ]:
calculate_volume(0,3,7)

In [ ]:
def calculate_volume(length, width, height):       #example of improper indentation
    if length > 0 and width > 0 and height > 0:
      volume = length * width * height
        return volume
    else:
        return 'invalid dimension'

In [ ]:
def check_eligibility(age,citizenship):
    if age > 18 and citizenship == 'yes':
        return 'Eligible to vote'
    else:
        return 'Not eligible to vote'

In [ ]:
check_eligibility(17,'yes')

In [ ]:
check_eligibility(19,'yes')

In [ ]:
check_eligibility(50,'no')

In [ ]:
# example of improper indentation
def calculate_discount(price, discount):
    if price > 100:
    discount_rate = 0.10
    elif price > 50
      discount_rate = 0.05
    else:
      discount_rate = 0.02
    return price -(price*discount_rate)

In [ ]:
# example of proper indentation
def calculate_discount(price, discount):
    if price > 100:
        discount_rate == 0.10
    elif price > 50:
        discount_rate == 0.05
    else:
        discount_rate == 0.02
    return price -(price*discount_rate)

In [ ]:
calculate_discount(108,0.10)

In [ ]:
# example 2   improper indentation
def list_even_numbers(numbers):
    for numbers in numbers:
    if number %2 == 0:
        print(number)
   else:
      continue

In [ ]:
# example 2   proper indentation
def list_even_numbers(numbers):
    for number in numbers:
        if number %2 == 0:
            print(number)
        else:
            continue

In [ ]:
list_even_numbers([1,2,3,4,5,6,7,8,9,10])

# Utilizing comment

In [ ]:
# this is block comment
tasks = ['walk upright', 'maintain peace', 'be fearless'] # example of inline comment

In [ ]:
# this function calculates the average of a list of numbers and print the results
def calculate_average(numbers):
    total_sum = sum(numbers) # inline comment. this sums up the list of numbers
    count = len(numbers) # count how many numbers
    average = total_sum/ count # this calculates the average
    print("the average is:", average)

In [ ]:
calculate_average([1,2,3,4,5,6,7,8,9,10,11,12])

In [ ]:
# This function is used to check for prime numbers
def is_prime(number):
    if number > 1:  # all primes are greater than 1
        for i in range(2, number):
            if (number % i) == 0: #checking for factors
                print(number, 'is not a prime number')
                break
            else:
                print(number, 'is a prime number')
    else:
        print(number, 'is not a prime number') # 1 is not a prime number

In [ ]:
is_prime(5)

In [ ]:
is_prime(14)

# Documenting in Docstrings

In [ ]:
# Single line docstring
def greet(name):
    """Greet is a function that returns an hello to an arguement 'name'"""
    print(f"Hello, {name}!")

In [ ]:
greet("Temi")

In [ ]:
greet("10Alytics")

In [ ]:
# multiple line docstring
def divide(x,y):
    """ Divides the first numher by the second and returns the result.
    Parameters
    -----------------
    x: float
        The numerator
    y: float
        The denominator, should not be zero

    Returns
    -----------------
    result: float
        The division of x by y
    """
    result = x / y
    return result

In [ ]:
divide(7,5)

In [ ]:
divide(4,9)

In [ ]:
divide(19,4)

## Utilizing blank lines

In [ ]:
def first_function():
    print("This is the first function")
    return none


def second_function():
    print("This is the second function")
    return none
    

def third_function():
    print("This is the third function")
    return none

## Managing line length

In [ ]:
"""
Max line length is 78 characters and 72 for docstrings/comments
"""

In [ ]:
with open(/path/to/the/source/file) as source_file,
open('path/to/the/destination/file','w') as destination_file:destination_file.write(source_file.read())

In [ ]:
# table_1 = table_1.merge(table_2, on=['table_id','name', 'title', 'price'], how='inner')

table_1 = table_1.merge(table_2, 
                        on=['table_id','name', 'title', 'price'], 
                        how='inner')

## Adhering to Naming Convention

* Lowercase: used for naming variables
* UPPERCASE: designates constants
* camelCASE: it's rarely used in python
* Capitalizedwords: recommended for classes
* use ofunderscores (_): to represent spaces

In [ ]:
# lowersases
age = 29
city = 'Birmingham'

In [ ]:
# underscores
def calculate_tax():
    tax_rate = 0.5

In [ ]:
# UPPERCASE
MAX_SPEED = 120
EARTH_RADIUS = 6371
WATER_BOILING_POINT = 100
DEFAULT_LANGUAGE = 'EN'

In [ ]:
#camelCASE
userAge = 15
userName ='Brad'

In [ ]:
# Capitalisedwords
class UserAccount:
    defaultStatus = 'Active'

In [ ]:
Social_Security_Number = 192-347-947
Full_Name = 'Barbara Cole'

## Managing White Spaces

In [ ]:
# Proper use of white spaces
Calculate_area(width[2:5], heigth[5:7])
coffee = (4,)
serve_drink(3)

In [ ]:
# Improper use of white spaces
Calculate_area ( width [2:5], heigth [5 :7 ] )
coffee = (4, )
serve_drink ( 3 )

#### If, Else, Else Statement
##### Comparison Operators

##### Comparison operators are used to compare two values

###### * == Equals to
###### * != Not Equals to
###### * #> Greater than
###### * #>= Greater than or equals to
###### * < Less than
###### * <= Less than or equals to

In [ ]:
password = 27459

In [ ]:
user_password = int(input("Enter your password"))
if user_password == password:
    print("Correct password")
else:
    print("Incorrect password")

In [ ]:
user_password = int(input("Enter your password"))
if user_password == password:
    print("Correct password")
else:
    print("Incorrect password")

In [ ]:
name = input("what's your name: ")

if name == "Anderson":
    print(f"Hello {name}, Welcome to 10Alytics")
else:
    print("Access Denied")

In [ ]:
name = input("what's your name: ")

if name == "Anderson":
    print(f"Hello {name}, Welcome to 10Alytics")
else:
    print("Access Denied")

In [ ]:
name = input("what's your name:")

if name == "Visitor":
    print(f"Hello {name}, Welcome to 10Alytics")
elif name == "New intake":
    print("Please report to the reception")
elif name == "Staff":
    print("Enter your login details")
else:
    print("Speak to the receptionist")

In [ ]:
name = input("what's your name:")

if name == "Visitor":
    print(f"Hello {name}, Welcome to 10Alytics")
elif name == "New intake":
    print("Please report to the reception")
elif name == "Staff":
    print("Enter your login details")
else:
    print("Speak to the receptionist")

In [ ]:
name = input("what's your name:")

if name == "Visitor":
    print(f"Hello {name}, Welcome to 10Alytics")
elif name == "New intake":
    print("Please report to the reception")
elif name == "Staff":
    print("Enter your login details")
else:
    print("Speak to the receptionist")

In [ ]:
first_test_score = int(input("enter your first test score:"))
second_test_score = int(input("enter your second test score:"))
exam_score = int(input("enter your exam score:"))

total_score = first_test_score + first_test_score + exam_score

if total_score >= 70:
               print("A")
elif total_score >= 60:
               print("B")
elif total_score >= 50:
               print("C")
elif total_score >= 40:
               print("D")
else:
    print("F")

In [ ]:
first_test_score = int(input("enter your first test score:"))
second_test_score = int(input("enter your second test score:"))
exam_score = int(input("enter your exam score:"))

total_score = first_test_score + first_test_score + exam_score

if total_score >= 70:
               print("A")
elif total_score >= 60:
               print("B")
elif total_score >= 50:
               print("C")
elif total_score >= 40:
               print("D")
else:
    print("F")

In [ ]:
first_test_score = int(input("enter your first test score:"))
second_test_score = int(input("enter your second test score:"))
exam_score = int(input("enter your exam score:"))

total_score = first_test_score + first_test_score + exam_score

if total_score >= 70:
               print("A")
elif total_score >= 60:
               print("B")
elif total_score >= 50:
               print("C")
elif total_score >= 40:
               print("D")
else:
    print("F")

In [ ]:
first_test_score = int(input("enter your first test score:"))
second_test_score = int(input("enter your second test score:"))
exam_score = int(input("enter your exam score:"))

total_score = first_test_score + first_test_score + exam_score

if total_score >= 70:
               print("A")
elif total_score >= 60:
               print("B")
elif total_score >= 50:
               print("C")
elif total_score >= 40:
               print("D")
else:
    print("F")

### IF/ELIF/ELSE - AND/OR STATEMENT

In [ ]:
#### Example   Was unable to complete task

# Input weather and temperature
weather = input("what's the weather like in your area, Is it (sunny, windy, raining, wintry, snowy): ")
tempetature = float(input("what's your temperature (in celsius): "))

# processing weather/temperature to recommend activities

if weather.lower() == "sunny" and temperature >= 25:
    recommendation = "It's a perfect day for a picnic in the park"
elif weather.lower() == "windy" and temperature < 25:
    recommendation = "It's a nice day for a walk"
elif weather.lower() == "raining" and temperature > 20:
    recommendation = "Don't go out without a raincoat or umbrella"
elif weather.lower() == "wintry" and temperature < 18:
    recommendation = "Remember to wear a jacket, scarf and glooves"
elif weather.lower() == "snowy" or weather.lower() == "raining":
    recommendation = "Keep warm inside except going out is necessary"
else:
    recommendation = "Check your local area weather forecast for advise"

print(recommendation)

In [ ]:
## inputs: age and annual income

age = int(input("How old are you? "))
annual_income = int(input("How much is your annual income? "))

# financial advise based on your age and income

if age < 30 and annual_income > 30000:
    financial_advice = "It's high time to consider saving money."
elif age < 30 and annual_income >= 35000:
    financial_advice = "It's time to start saving towards a mortgage."
elif age > 40 and annual_income >= 50000:
    financial_advice = "It's time to start growing your money through investment."
elif age > 50 and annual_income <= 45000:
    financial_advice = "Start saving towards your retirement."
elif age > 55 and annual_income <= 30000:
    financial_advice = "Consider speaking to a financial adviser considering your age and income."
else:
    financial_advice = "Speak to a professional financial adviser for a personised advise."

print(financial_advice)

In [ ]:
## inputs: age and annual income

age = int(input("How old are you? "))
annual_income = int(input("How much is your annual income? "))

# financial advise based on your age and income

if age < 30 and annual_income > 30000:
    financial_advice = "It's high time to consider saving money."
elif age < 30 and annual_income >= 35000:
    financial_advice = "It's time to start saving towards a mortgage."
elif age > 40 and annual_income >= 50000:
    financial_advice = "It's time to start growing your money through investment."
elif age > 50 and annual_income > 45000:
    financial_advice = "Start saving towards your retirement."
elif age <= 55 and annual_income > 30000:
    financial_advice = "Consider speaking to a financial adviser considering your age and income."
else:
    financial_advice = "Speak to a professional financial adviser for a personised advise."

print(financial_advice)

#### For Loop

In [ ]:
name = "Engineering"
for i in range(1):
    print(name)

In [ ]:
name = "Engineering"
for i in range(5):
    print(name)

In [ ]:
name = "Engineering"
for i in range(0,3 ):
    print(name)

In [ ]:
name = "Engineering"
for i in range(5):
    print(name)

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]

for i in range(5,8):
    print(i)

In [ ]:
# Even numbers = /2=0
list1 = [1,2,3,4,5,6,7,8,9,10]

for i in list1:
    if i % 2 == 0:
        print(i)
    else:
        print(f"{i} is an odd number")

In [14]:
10%2

0

In [13]:
men_wears = ["mens_blazer,shirt_with_tie,Kaftan,tshirts"]
men_wears = "male_clothing"
for i in male_clothing:
    #if i == male_clothing:
    print(i)
else:
    print(f"{i}is not available this time")
#female_wears = "skirt,blouse,dress,jumpsuit"

#male_clothing = input("what cloth range are you after:")

#for (mens_blazer) in male_clothing:
    #if ("mens_blazer") in male_clothing:
     #   print("This is men clothing range")
#female_clothing = input("This is women cloth range:")

#for ("blouse") in female_clothing:
 #   if ("blouse") in female_clothing:
 #       print("This is women clothing range")
#else:
 #   print("item unavailable")

m
e
n
_
w
e
a
r
s
sis not available this time